appdirs==1.4.4
asttokens==2.4.1
attrs==23.2.0
biopython==1.83
biothings-client==0.3.1
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
compress-json==1.0.10
dateparser==1.2.0
decorator==5.1.1
diskcache==5.6.3
environments-utils==1.0.13
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
future==1.0.0
genomepy==0.16.1
idna==3.6
importlib-metadata==7.0.1
IPy==1.1
ipython==8.22.1
jaro-winkler==2.0.3
jedi==0.19.1
llvmlite==0.42.0
loguru==0.7.2
matplotlib-inline==0.1.6
mygene==3.2.2
mysql-connector-python==8.3.0
norns==0.1.6
nose==1.3.7
numba==0.59.0
numpy==1.26.4
pandas==2.2.1
parso==0.8.3
pexpect==4.9.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pybedtools==0.9.1
pybiomart==0.2.0
pyfaidx==0.8.1.1
Pygments==2.17.2
pysam==0.22.0
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requests-cache==1.2.0
six==1.16.0
stack-data==0.6.3
tqdm==4.66.2
traitlets==5.14.1
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
ucsc-genomes-downloader==1.1.26
url-normalize==1.4.3
urllib3==2.2.1
userinput==1.0.22
validate-email==1.3
validate-version-code==1.0.4
validators==0.22.0
wcwidth==0.2.13
zipp==3.17.0
